@namespace PosIndonesia
@inherits PosComponentBase

<footer class="footer">
    <PosContainer>
        <div class="is-flex is-justify-content-space-between is-align-items-center">
            <p class="is-flex is-justify-content-space-between is-align-items-center" style="gap: .5rem">
                Made with
                <Heart Size="20"/>
                from Indonesia
            </p>
            <div class="list-inline-dots">
                <a href="/toc/terms-of-service" class="link-secondary">Terms of service</a>
                <a href="/toc/privacy-policy" class="link-secondary">Privacy policy</a>
            </div>
        </div>
    </PosContainer>
</footer>