@namespace PosIndonesia
@inherits PosComponentBase

<header id="PosNav">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <PosContainer>
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    🇮🇩
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-light">
                            <span class="icon">
                                <GitHub />
                            </span>
                            <span>Github</span>
                        </a>
                    </div>
                </div>
            </div>
        </PosContainer>
    </nav>
    <div class="divider">
        <div class="divider-line"></div>
    </div>
</header>